<div id="meet-howard">
<h2>Meet Howard</h2>
<svg id="howard-brand" width="250px" height="150px" viewBox="-6 -8 255 260" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.1 (8751) - http://www.bohemiancoding.com/sketch -->
    <title>howard1 2</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <circle id="Oval-1" fill="#F3B6B6" sketch:type="MSShapeGroup" cx="113" cy="116.5" r="122.5"></circle>
        <rect id="Rectangle-5" stroke="#979797" fill="#FFE7E7" sketch:type="MSShapeGroup" x="65.5" y="27" width="91" height="168" rx="1"></rect>
        <rect id="Rectangle-9" fill="#FFFFFF" sketch:type="MSShapeGroup" x="65" y="56" width="91" height="113"></rect>
        <g id="icon_77357" sketch:type="MSLayerGroup" transform="translate(63.500000, 27.000000)" fill="#D75C5C">
            <path d="M85.8256,172.816333 L9.01615,172.816333 C2.23585,172.816333 -0.225525,166.632083 -0.225525,162.48025 L-0.225525,8.54341667 C-0.225525,2.60325 5.444125,-0.103416667 10.711225,-0.103416667 L86.1069,-0.103416667 C93.8669,-0.103416667 95.916025,7.57916667 95.916025,11.6391667 L95.916025,163.601583 C95.920875,166.0835 95.0697,168.246417 93.46435,169.851083 C90.581025,172.73175 86.303325,172.816333 85.8256,172.816333 L85.8256,172.816333 Z M10.711225,5.93825 C10.672425,5.93825 5.836975,6.05183333 5.836975,8.54341667 L5.836975,162.48025 C5.851525,163.471083 6.1207,166.774667 9.01615,166.774667 L85.81105,166.774667 C86.77135,166.755333 89.858375,166.477417 89.853525,163.606417 L89.853525,11.6391667 C89.84625,11.0688333 89.6959,5.93825 86.1069,5.93825 L10.711225,5.93825 L10.711225,5.93825 Z" id="Shape" sketch:type="MSShapeGroup"></path>
            <rect id="Rectangle-path" sketch:type="MSShapeGroup" transform="translate(46.668822, 29.479668) rotate(89.822384) translate(-46.668822, -29.479668) " x="43.6375573" y="-15.4052979" width="6.06252913" height="89.7699313"></rect>
            <rect id="Rectangle-path" sketch:type="MSShapeGroup" x="36.375" y="15.9166667" width="22.8726" height="4.83333333"></rect>
            <rect id="Rectangle-path" sketch:type="MSShapeGroup" transform="translate(46.824507, 140.798826) rotate(89.822384) translate(-46.824507, -140.798826) " x="43.7932423" y="95.9138604" width="6.06252913" height="89.7699313"></rect>
            <ellipse id="Oval" sketch:type="MSShapeGroup" cx="48.143525" cy="155.728083" rx="6.918525" ry="6.89475"></ellipse>
        </g>
        <g id="icon_16643" sketch:type="MSLayerGroup" transform="translate(76.500000, 76.000000)">
            <g id="Captions" transform="translate(1.000000, 0.000000)"></g>
            <g id="Your_Icon" transform="translate(0.000000, 6.680000)" fill="#FF2E2E" sketch:type="MSShapeGroup">
                <path d="M16.5,2.10044 C9.98163,2.10044 4.74573,5.22555 1.08463,10.04481 C1.52669,10.62637 2.00037,11.72222 2.50164,12.25232 C5.21259,8.83736 8.43349,6.38402 12.7242,5.46487 C12.83983,5.44875 12.95732,5.43914 13.0776,5.43914 C14.53925,5.43914 15.725,6.62458 15.725,8.08623 C15.725,9.5485 14.53925,10.73332 13.0776,10.73332 C12.00221,10.73332 11.07841,10.091 10.66394,9.16968 C10.64937,9.33832 10.64038,9.5082 10.64038,9.67994 C10.64038,12.91572 13.2636,15.53925 16.49969,15.53925 C19.73547,15.53925 22.35962,12.91572 22.35962,9.67994 C22.35962,8.06887 21.70862,6.61032 20.65648,5.55136 C24.7894,6.53096 27.86832,8.93873 30.49836,12.25232 C30.99963,11.72253 31.47331,10.62668 31.91506,10.04481 C28.25396,5.22555 23.01961,2.10044 16.5,2.10044 L16.5,2.10044 Z" id="Shape" transform="translate(16.499845, 8.819845) rotate(-9.000000) translate(-16.499845, -8.819845) "></path>
                <path d="M55.41537,1 C48.897,1 43.6611,4.12511 40,8.94437 C40.44206,9.52593 40.91574,10.62178 41.41701,11.15188 C44.12796,7.73692 47.34886,5.28358 51.63957,4.36443 C51.7552,4.34831 51.87269,4.3387 51.99297,4.3387 C53.45462,4.3387 54.64037,5.52414 54.64037,6.98579 C54.64037,8.44806 53.45462,9.63288 51.99297,9.63288 C50.91758,9.63288 49.99378,8.99056 49.57931,8.06924 C49.56474,8.23788 49.55575,8.40776 49.55575,8.5795 C49.55575,11.81528 52.17897,14.43881 55.41506,14.43881 C58.65084,14.43881 61.27499,11.81528 61.27499,8.5795 C61.27499,6.96843 60.62399,5.50988 59.57185,4.45092 C63.70477,5.43052 66.78369,7.83829 69.41373,11.15188 C69.915,10.62209 70.38868,9.52624 70.83043,8.94437 C67.16933,4.12511 61.93498,1 55.41537,1 L55.41537,1 Z" id="Shape" transform="translate(55.415215, 7.719405) rotate(4.000000) translate(-55.415215, -7.719405) "></path>
            </g>
        </g>
        <path d="M111.1875,75.9960938 L105.039062,124.847656 L123.113281,124.847656" id="Path-8" stroke="#E87A7A" stroke-width="3" sketch:type="MSShapeGroup"></path>
        <g id="Oval-4-+-Oval-4-+-Path-1" sketch:type="MSLayerGroup" transform="translate(63.500000, 67.000000)" stroke-width="3" stroke="#D75C5C" fill-opacity="0.171790082" fill="#9B9B9B">
            <g id="Group" sketch:type="MSShapeGroup">
                <ellipse id="Oval-4" cx="28.8909091" cy="25.7083333" rx="15.8909091" ry="16.2916667"></ellipse>
                <ellipse id="Oval-4" cx="68.4181818" cy="25" rx="15.8909091" ry="16.2916667"></ellipse>
                <path d="M43.0301136,21.2075195 C43.0301136,21.2075195 47.9447443,15.042806 54.1359375,21.2075195" id="Path-1"></path>
                <path d="M13.5078125,22.7382812 L0.5,0.5" id="Path-4"></path>
                <path d="M95.5078125,22.5 L84.515625,3.5" id="Path-4" transform="translate(90.007812, 13.000000) scale(-1, 1) translate(-90.007812, -13.000000) "></path>
            </g>
        </g>
        <path d="M87.78125,135.445312 C87.78125,135.445312 111.778668,166.851562 137.965506,135.445312" id="Path-9" stroke="#E77A7A" stroke-width="3" sketch:type="MSShapeGroup"></path>
    </g>
</svg>
<div id="quick-pitch">
  Howard is a friend you can rely on to remember all your crazy ideas.
</div>
<div id="sign-up-button"><%= link_to "Sign up", new_registration_path(User)%></div>
<div id="sign-in-button"><%= link_to "Sign in", new_session_path(User)%></div>

</div>

<div id="how-it-works">
  <h5>How it works</h5>
  <svg id='how-it-works-svg' width="926px" height="457px" viewBox="0 -30 926 513" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.1 (8751) - http://www.bohemiancoding.com/sketch -->
    <defs>
        <rect id="path-1" x="-7" y="49" width="195" height="43"></rect>
        <path id="path-2" d="M551.808594,43.6992188 L618.992843,43.6992188 L627.363281,22.5507812 L670.226192,22.5507812 L679.03125,42.3320312 L934.815495,42.3320312"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <rect id="Rectangle-7" stroke="#696464" fill="#EDEDED" sketch:type="MSShapeGroup" x="550" y="13" width="384" height="321" rx="5"></rect>
        <rect id="Rectangle-9" stroke="#979797" fill="#FFFFFF" sketch:type="MSShapeGroup" x="620" y="70" width="314" height="263"></rect>
        <text id="Organize-them-later." sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="20" font-weight="260" fill="#DA5555">
            <tspan x="647" y="442">Organize them later.</tspan>
        </text>
        <rect id="Rectangle-10" stroke="#979797" fill="#FAFAFA" sketch:type="MSShapeGroup" x="624" y="47" width="278" height="20" rx="3"></rect>
        <text id="http://www.howardapp" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="12" font-weight="260" fill="#000000">
            <tspan x="633" y="61">http://www.howardapp.com</tspan>
        </text>
        <circle id="Oval-1" fill="#E96565" sketch:type="MSShapeGroup" cx="260.5" cy="180.5" r="13.5"></circle>
        <circle id="Oval-2" fill="#E96666" sketch:type="MSShapeGroup" cx="313.5" cy="181.5" r="13.5"></circle>
        <circle id="Oval-3" fill="#E96666" sketch:type="MSShapeGroup" cx="366.5" cy="182.5" r="13.5"></circle>
        <circle id="Oval-4" fill="#E96666" sketch:type="MSShapeGroup" cx="416.5" cy="181.5" r="13.5"></circle>
        <circle id="Oval-5" fill="#E96666" sketch:type="MSShapeGroup" cx="472.5" cy="182.5" r="13.5"></circle>
        <circle id="Oval-3" stroke="#0F0F0F" fill="#F66A6A" sketch:type="MSShapeGroup" cx="567" cy="29" r="5"></circle>
        <circle id="Oval-3" stroke="#0F0F0F" fill="#FBE836" sketch:type="MSShapeGroup" cx="585" cy="29" r="5"></circle>
        <circle id="Oval-3" stroke="#0F0F0F" fill="#A5F49F" sketch:type="MSShapeGroup" cx="602" cy="29" r="5"></circle>
        <text id="Text-Howard-Your-tho" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="20" font-weight="260" fill="#DA5555">
            <tspan x="-30" y="442">Text Howard Your thoughts.</tspan>
        </text>
        <rect id="Rectangle-1" stroke="#000000" stroke-width="2" fill="#FFFFFF" sketch:type="MSShapeGroup" x="-9" y="-10" width="199" height="374" rx="40"></rect>
        <g id="Rectangle-3">
            <use fill="#FFF8F8" fill-rule="evenodd" sketch:type="MSShapeGroup" xlink:href="#path-1"></use>
            <use fill="none" xlink:href="#path-1"></use>
            <use stroke="#979797" stroke-width="1" fill="none" xlink:href="#path-1"></use>
        </g>
        <path d="M-8.5,48 L189.5,48" id="Line" stroke="#000000" stroke-width="2" stroke-linecap="square" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
        <path d="M-8.5,308 L189.5,308" id="Line" stroke="#000000" stroke-width="2" stroke-linecap="square" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
        <circle id="Oval-1" stroke="#000000" stroke-width="2" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="90.5" cy="336.5" r="14.5"></circle>
        <rect id="Rectangle-2" stroke="#000000" stroke-width="2" fill="#FFFFFF" sketch:type="MSShapeGroup" x="76" y="20" width="28" height="8" rx="12"></rect>
        <path d="M89.5,13 C91.4329966,13 94,11.4329966 94,9.5 C94,7.56700338 92.4329966,6 90.5,6 C88.5670034,6 87,7.56700338 87,9.5 C87,11.4329966 87.5670034,13 89.5,13 Z" id="Oval-2" fill="#000000" sketch:type="MSShapeGroup"></path>
        <g id="Rectangle-8" sketch:type="MSLayerGroup" transform="translate(551.000000, 70.000000)" fill="#EA8181">
            <rect sketch:type="MSShapeGroup" x="0" y="0" width="70" height="263"></rect>
        </g>
        <text id="Howard" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="12" font-weight="normal" fill="#000000">
            <tspan x="68" y="75">Howard</tspan>
        </text>
        <g id="howard-bubble" sketch:type="MSLayerGroup" transform="translate(2.000000, 109.000000)">
            <rect id="Rectangle-4" fill="#EDE9E9" sketch:type="MSShapeGroup" x="5" y="0" width="113" height="43.4745763" rx="11"></rect>
            <path d="M6.06640625,29.9721928 C6.06640625,29.9721928 6.62109375,37.6291049 0.91796875,43.1647246 C-4.78515625,48.7003443 19.8828125,40.1972987 19.8828125,40.1972987 L6.06640625,29.9721928 Z" id="Path-3" fill="#ECE8E8" sketch:type="MSShapeGroup"></path>
        </g>
        <ellipse id="Oval-1" fill="#F3B6B6" sketch:type="MSShapeGroup" cx="586" cy="132.109375" rx="27" ry="28"></ellipse>
        <rect id="Rectangle-11" stroke="#D2BDBD" stroke-linecap="square" stroke-linejoin="bevel" stroke-dasharray="1,3" fill="#F8EBEB" sketch:type="MSShapeGroup" x="863" y="91" width="46" height="46"></rect>
        <rect id="Rectangle-5" stroke="#979797" fill="#FFE7E7" sketch:type="MSShapeGroup" x="576.216124" y="112.772534" width="20.0571429" height="38.4" rx="1"></rect>
        <rect id="Rectangle-14" fill="#FFB2B2" sketch:type="MSShapeGroup" x="648" y="114" width="115" height="29"></rect>
        <rect id="Rectangle-14-2" fill="#FFB2B2" sketch:type="MSShapeGroup" x="648" y="150" width="115" height="39"></rect>
        <g id="icon_77357" sketch:type="MSLayerGroup" transform="translate(575.724726, 112.772534)" fill="#D75C5C">
            <path d="M18.9166629,39.5008762 L1.98723306,39.5008762 C0.492799592,39.5008762 -0.049707551,38.0873333 -0.049707551,37.1383429 L-0.049707551,1.95278095 C-0.049707551,0.595028571 1.19992959,-0.0236380952 2.36084143,-0.0236380952 L18.9786637,-0.0236380952 C20.689031,-0.0236380952 21.1406749,1.73238095 21.1406749,2.66038095 L21.1406749,37.3946476 C21.1417439,37.9619429 20.954138,38.4563238 20.6003057,38.8231048 C19.9647973,39.4815429 19.0219573,39.5008762 18.9166629,39.5008762 L18.9166629,39.5008762 Z M2.36084143,1.35731429 C2.35228959,1.35731429 1.28651694,1.38327619 1.28651694,1.95278095 L1.28651694,37.1383429 C1.28972388,37.364819 1.34905224,38.1199238 1.98723306,38.1199238 L18.9134559,38.1199238 C19.1251139,38.1155048 19.8055194,38.051981 19.8044504,37.3957524 L19.8044504,2.66038095 C19.8028469,2.53001905 19.7697086,1.35731429 18.9786637,1.35731429 L2.36084143,1.35731429 L2.36084143,1.35731429 Z" id="Shape" sketch:type="MSShapeGroup"></path>
            <rect id="Rectangle-path" sketch:type="MSShapeGroup" transform="translate(10.286189, 6.738210) rotate(89.822384) translate(-10.286189, -6.738210) " x="9.61807386" y="-3.52121096" width="1.33623091" height="20.5188414"></rect>
            <rect id="Rectangle-path" sketch:type="MSShapeGroup" x="8.01734694" y="3.63809524" width="5.04130776" height="1.1047619"></rect>
            <rect id="Rectangle-path" sketch:type="MSShapeGroup" transform="translate(10.320504, 32.182589) rotate(89.822384) translate(-10.320504, -32.182589) " x="9.6523881" y="21.9231681" width="1.33623091" height="20.5188414"></rect>
            <ellipse id="Oval" sketch:type="MSShapeGroup" cx="10.6112259" cy="35.5949905" rx="1.52489939" ry="1.57594286"></ellipse>
        </g>
        <rect id="side-rect" fill="#FF6F6F" sketch:type="MSShapeGroup" x="761" y="114" width="4" height="29"></rect>
        <rect id="side-rect2" fill="#FF6F6F" sketch:type="MSShapeGroup" x="761" y="150" width="4" height="39"></rect>
        <g id="icon_16643" sketch:type="MSLayerGroup" transform="translate(578.673112, 123.983682)">
            <g id="Captions" transform="translate(0.220408, 0.000000)"></g>
            <g id="Your_Icon" transform="translate(0.000000, 1.526857)" fill="#FF2E2E" sketch:type="MSShapeGroup">
                <path d="M3.63673469,0.480100571 C2.20003273,0.480100571 1.04599763,1.19441143 0.239061306,2.29595657 C0.336494939,2.42888457 0.440897878,2.67936457 0.551381878,2.80053029 C1.14889739,2.019968 1.85881004,1.45920457 2.80451755,1.24911314 C2.83000335,1.24542857 2.8558991,1.243232 2.8824098,1.243232 C3.20456939,1.243232 3.46591837,1.51418971 3.46591837,1.84828114 C3.46591837,2.18251429 3.20456939,2.45333029 2.8824098,2.45333029 C2.64538506,2.45333029 2.441772,2.30651429 2.35041943,2.09592686 C2.34720808,2.13447314 2.34522661,2.17330286 2.34522661,2.21255771 C2.34522661,2.95216457 2.92340571,3.55182857 3.63666637,3.55182857 C4.34985869,3.55182857 4.92824278,2.95216457 4.92824278,2.21255771 C4.92824278,1.84431314 4.78475706,1.51093029 4.55285682,1.26888229 C5.46378612,1.49279086 6.14240522,2.04313829 6.72208751,2.80053029 C6.83257151,2.67943543 6.93697445,2.42895543 7.03433976,2.29595657 C6.22740343,1.19441143 5.07370996,0.480100571 3.63673469,0.480100571 L3.63673469,0.480100571 Z" id="Shape" transform="translate(3.636701, 2.015965) rotate(-9.000000) translate(-3.636701, -2.015965) "></path>
                <path d="M12.2139999,0.228571429 C10.777298,0.228571429 9.62326286,0.942882286 8.81632653,2.04442743 C8.91376016,2.17735543 9.0181631,2.42783543 9.1286471,2.54900114 C9.72616261,1.76843886 10.4360753,1.20767543 11.3817828,0.997584 C11.4072686,0.993899429 11.4331643,0.991702857 11.459675,0.991702857 C11.7818346,0.991702857 12.0431836,1.26266057 12.0431836,1.596752 C12.0431836,1.93098514 11.7818346,2.20180114 11.459675,2.20180114 C11.2226503,2.20180114 11.0190372,2.05498514 10.9276847,1.84439771 C10.9244733,1.882944 10.9224918,1.92177371 10.9224918,1.96102857 C10.9224918,2.70063543 11.5006709,3.30029943 12.2139316,3.30029943 C12.9271239,3.30029943 13.505508,2.70063543 13.505508,1.96102857 C13.505508,1.592784 13.3620223,1.25940114 13.130122,1.01735314 C14.0410513,1.24126171 14.7196704,1.79160914 15.2993527,2.54900114 C15.4098367,2.42790629 15.5142397,2.17742629 15.611605,2.04442743 C14.8046687,0.942882286 13.6509752,0.228571429 12.2139999,0.228571429 L12.2139999,0.228571429 Z" id="Shape" transform="translate(12.213966, 1.764435) rotate(4.000000) translate(-12.213966, -1.764435) "></path>
            </g>
        </g>
        <rect id="side-rect" fill="#FF6F6F" sketch:type="MSShapeGroup" x="645" y="114" width="4" height="29"></rect>
        <rect id="side-rect2" fill="#FF6F6F" sketch:type="MSShapeGroup" x="645" y="150" width="4" height="39"></rect>
        <path d="M586.416448,123.983682 L585.061283,135.149753 L589.044988,135.149753" id="Path-8" stroke="#E87A7A" sketch:type="MSShapeGroup"></path>
        <text id="task-text" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="10" font-weight="260" fill="#000000">
            <tspan x="655" y="132">I need to go to the gym</tspan>
        </text>
        <text id="dogbook-text" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="10" font-weight="260" fill="#000000">
            <tspan x="655" y="167">dogbook! facebook for</tspan>
            <tspan x="655" y="179">dogs!</tspan>
        </text>
        <g id="Oval-4-+-Oval-4-+-Path-1" sketch:type="MSLayerGroup" transform="translate(575.724726, 121.945291)" stroke="#D75C5C" fill="#9B9B9B" fill-opacity="0.171790082">
            <g id="Group" transform="translate(-0.000000, 0.000000)" sketch:type="MSShapeGroup">
                <ellipse id="Oval-4" cx="6.36779221" cy="5.87619048" rx="3.50248609" ry="3.72380952"></ellipse>
                <ellipse id="Oval-4" cx="15.0799258" cy="5.71428571" rx="3.50248609" ry="3.72380952"></ellipse>
                <path d="M9.48418831,4.84743304 C9.48418831,4.84743304 10.567413,3.43835565 11.9320026,4.84743304" id="Path-1"></path>
                <path d="M2.97723214,5.19732143 L0.110204082,0.114285714" id="Path-4"></path>
                <path d="M18.6262117,5.14285714 L21.0489796,0.8" id="Path-4"></path>
            </g>
        </g>
        <rect id="Rectangle-11" stroke="#D2BDBD" stroke-linecap="square" stroke-linejoin="bevel" stroke-dasharray="1,3" fill="#F8EBEB" sketch:type="MSShapeGroup" x="863" y="149" width="46" height="46"></rect>
        <path d="M581.130101,137.742817 C581.130101,137.742817 586.419328,144.921389 592.191121,137.742817" id="Path-9" stroke="#E77A7A" sketch:type="MSShapeGroup"></path>
        <text id="Brain-Dump" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="12" font-weight="260" fill="#000000">
            <tspan x="647" y="98">Brain Dump</tspan>
        </text>
        <rect id="Rectangle-11" stroke="#D2BDBD" stroke-linecap="square" stroke-linejoin="bevel" stroke-dasharray="1,3" fill="#F8EBEB" sketch:type="MSShapeGroup" x="863" y="207" width="46" height="46"></rect>
        <text id="Howard" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="13" font-weight="260" fill="#000000">
            <tspan x="565" y="96">Howard</tspan>
        </text>
        <text id="howard" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="11" font-weight="260" fill="#000000">
            <tspan x="631" y="38">howard</tspan>
        </text>
        <g id="gym-bubble" sketch:type="MSLayerGroup" transform="translate(104.000000, 188.500000) scale(-1, 1) translate(-104.000000, -188.500000) translate(29.000000, 167.000000)" fill="#FFB5AE">
            <rect id="Rectangle-4" sketch:type="MSShapeGroup" x="6.3559322" y="0" width="143.644068" height="41.5423729" rx="11"></rect>
            <path d="M7.71153337,28.6400953 C7.71153337,28.6400953 8.4166446,35.9567002 1.16690943,41.2462924 C-6.08282574,46.5358845 25.2747617,38.4107521 25.2747617,38.4107521 L7.71153337,28.6400953 Z" id="Path-3" sketch:type="MSShapeGroup"></path>
        </g>
        <g id="facebook-bubble" sketch:type="MSLayerGroup" transform="translate(106.500000, 253.000000) scale(-1, 1) translate(-106.500000, -253.000000) translate(33.000000, 224.000000)" fill="#FFB5AE">
            <rect id="Rectangle-4" sketch:type="MSShapeGroup" x="6.22881356" y="0" width="140.771186" height="56.0338983" rx="11"></rect>
            <path d="M7.5573027,38.6308263 C7.5573027,38.6308263 8.24831171,48.4997352 1.14357124,55.6345339 C-5.96116923,62.7693326 24.7692664,51.8098517 24.7692664,51.8098517 L7.5573027,38.6308263 Z" id="Path-3" sketch:type="MSShapeGroup"></path>
        </g>
        <text id="hey-friend" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="13" font-weight="260" fill="#000000">
            <tspan x="18" y="127">hey! how’s your </tspan>
            <tspan x="18" y="143">day going?</tspan>
        </text>
        <text id="gym-text" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="13" font-weight="260" fill="#000000">
            <tspan x="35" y="192">I need to go to the gym</tspan>
        </text>
        <text id="facebook-text" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="13" font-weight="260" fill="#000000">
            <tspan x="45" y="246">dogbook! facebook </tspan>
            <tspan x="45" y="262">for dogs!</tspan>
        </text>
        <path d="M549.5,69.5 L934.5,69.5" id="Line" stroke="#979797" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
        <g id="Path-7" stroke="#979797">
            <use sketch:type="MSShapeGroup" xlink:href="#path-2"></use>
            <use xlink:href="#path-2"></use>
        </g>
    </g>
</svg>

<svg id="mobile-svg" width="339px" height="1065px" viewBox="0 0 339 1065" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.1 (8751) - http://www.bohemiancoding.com/sketch -->
    <title>Slice 2</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-1" x="67" y="120" width="195" height="43"></rect>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <rect id="Rectangle-7" stroke="#696464" fill="#EDEDED" sketch:type="MSShapeGroup" x="16" y="746" width="313" height="309" rx="5"></rect>
        <rect id="Rectangle-9" stroke="#979797" fill="#FFFFFF" sketch:type="MSShapeGroup" x="61" y="814" width="267" height="241"></rect>
        <text id="Organize-them-later." sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="20" font-weight="260" fill="#DA5555">
            <tspan x="81" y="720">Organize them later.</tspan>
        </text>
        <rect id="Rectangle-10" stroke="#979797" fill="#FAFAFA" sketch:type="MSShapeGroup" x="29" y="781" width="288" height="19" rx="3"></rect>
        <text id="http://www.howardapp" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="12" font-weight="260" fill="#000000">
            <tspan x="35" y="794">http://www.howardapp.com</tspan>
        </text>
        <circle id="Oval-6" fill="#E96565" sketch:type="MSShapeGroup" cx="164.5" cy="475.5" r="13.5"></circle>
        <circle id="Oval-6" fill="#E96666" sketch:type="MSShapeGroup" cx="164.5" cy="517.5" r="13.5"></circle>
        <circle id="Oval-6" fill="#E96666" sketch:type="MSShapeGroup" cx="164.5" cy="564.5" r="13.5"></circle>
        <circle id="Oval-6" fill="#E96666" sketch:type="MSShapeGroup" cx="164.5" cy="611.5" r="13.5"></circle>
        <circle id="Oval-6" fill="#E96666" sketch:type="MSShapeGroup" cx="164.5" cy="658.5" r="13.5"></circle>
        <circle id="Oval-3" stroke="#0F0F0F" fill="#F66A6A" sketch:type="MSShapeGroup" cx="34" cy="762" r="5"></circle>
        <circle id="Oval-3" stroke="#0F0F0F" fill="#FBE836" sketch:type="MSShapeGroup" cx="52" cy="762" r="5"></circle>
        <circle id="Oval-3" stroke="#0F0F0F" fill="#A5F49F" sketch:type="MSShapeGroup" cx="69" cy="762" r="5"></circle>
        <text id="Text-Howard-Your-tho" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="20" font-weight="260" fill="#DA5555">
            <tspan x="50" y="35">Text Howard Your thoughts.</tspan>
        </text>
        <rect id="Rectangle-1" stroke="#000000" stroke-width="2" fill="#FFFFFF" sketch:type="MSShapeGroup" x="65" y="61" width="199" height="374" rx="40"></rect>
        <g id="Rectangle-3" transform="translate(74, 71)">
            <use fill="#FFF8F8" fill-rule="evenodd" sketch:type="MSShapeGroup" xlink:href="#path-1"></use>
            <use fill="none" xlink:href="#path-1"></use>
            <use stroke="#979797" stroke-width="1" fill="none" xlink:href="#path-1"></use>
        </g>
        <path d="M65.5,119 L263.5,119" id="Line" stroke="#000000" stroke-width="2" stroke-linecap="square" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
        <path d="M65.5,379 L263.5,379" id="Line" stroke="#000000" stroke-width="2" stroke-linecap="square" fill="#FFFFFF" sketch:type="MSShapeGroup"></path>
        <circle id="Oval-1" stroke="#000000" stroke-width="2" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="164.5" cy="407.5" r="14.5"></circle>
        <rect id="Rectangle-2" stroke="#000000" stroke-width="2" fill="#FFFFFF" sketch:type="MSShapeGroup" x="150" y="91" width="28" height="8" rx="12"></rect>
        <path d="M163.5,84 C165.432997,84 168,82.4329966 168,80.5 C168,78.5670034 166.432997,77 164.5,77 C162.567003,77 161,78.5670034 161,80.5 C161,82.4329966 161.567003,84 163.5,84 Z" id="Oval-2" fill="#000000" sketch:type="MSShapeGroup"></path>
        <g id="Rectangle-8" sketch:type="MSLayerGroup" transform="translate(16.000000, 814.000000)" fill="#EA8181">
            <rect sketch:type="MSShapeGroup" x="0" y="0" width="45" height="241"></rect>
        </g>
        <text id="Howard" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="12" font-weight="normal" fill="#000000">
            <tspan x="142" y="146">Howard</tspan>
        </text>
        <g id="Rectangle-4-+-Path-3" sketch:type="MSLayerGroup" transform="translate(76.000000, 180.000000)">
            <rect id="Rectangle-4" fill="#EDE9E9" sketch:type="MSShapeGroup" x="5" y="0" width="113" height="43.4745763" rx="11"></rect>
            <path d="M6.06640625,29.9721928 C6.06640625,29.9721928 6.62109375,37.6291049 0.91796875,43.1647246 C-4.78515625,48.7003443 19.8828125,40.1972987 19.8828125,40.1972987 L6.06640625,29.9721928 Z" id="Path-3" fill="#ECE8E8" sketch:type="MSShapeGroup"></path>
        </g>
        <rect id="Rectangle-11" stroke="#D2BDBD" stroke-linecap="square" stroke-linejoin="bevel" stroke-dasharray="1,3" fill="#F8EBEB" sketch:type="MSShapeGroup" x="271" y="824" width="46" height="46"></rect>
        <rect id="Rectangle-14" fill="#FFB2B2" sketch:type="MSShapeGroup" x="90" y="847" width="115" height="29"></rect>
        <rect id="Rectangle-14" fill="#FFB2B2" sketch:type="MSShapeGroup" x="90" y="883" width="115" height="39"></rect>
        <rect id="Rectangle-15" fill="#FF6F6F" sketch:type="MSShapeGroup" x="203" y="847" width="4" height="29"></rect>
        <rect id="Rectangle-15" fill="#FF6F6F" sketch:type="MSShapeGroup" x="203" y="883" width="4" height="39"></rect>
        <rect id="Rectangle-15" fill="#FF6F6F" sketch:type="MSShapeGroup" x="87" y="847" width="4" height="29"></rect>
        <rect id="Rectangle-15" fill="#FF6F6F" sketch:type="MSShapeGroup" x="87" y="883" width="4" height="39"></rect>
        <text id="I-need-to-go-to-the-" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="10" font-weight="260" fill="#000000">
            <tspan x="97" y="865">I need to go to the gym</tspan>
        </text>
        <text id="dogbook-facebook-for" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="10" font-weight="260" fill="#000000">
            <tspan x="97" y="900">dogbook facebook for</tspan>
            <tspan x="97" y="912">dogs</tspan>
        </text>
        <rect id="Rectangle-11" stroke="#D2BDBD" stroke-linecap="square" stroke-linejoin="bevel" stroke-dasharray="1,3" fill="#F8EBEB" sketch:type="MSShapeGroup" x="271" y="880" width="46" height="46"></rect>
        <text id="Brain-Dump" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="12" font-weight="260" fill="#000000">
            <tspan x="86" y="835">Brain Dump</tspan>
        </text>
        <rect id="Rectangle-11" stroke="#D2BDBD" stroke-linecap="square" stroke-linejoin="bevel" stroke-dasharray="1,3" fill="#F8EBEB" sketch:type="MSShapeGroup" x="272" y="936" width="46" height="46"></rect>
        <g id="Rectangle-4-+-Path-3" sketch:type="MSLayerGroup" transform="translate(178.000000, 259.500000) scale(-1, 1) translate(-178.000000, -259.500000) translate(103.000000, 238.000000)" fill="#FFB5AE">
            <rect id="Rectangle-4" sketch:type="MSShapeGroup" x="6.3559322" y="0" width="143.644068" height="41.5423729" rx="11"></rect>
            <path d="M7.71153337,28.6400953 C7.71153337,28.6400953 8.4166446,35.9567002 1.16690943,41.2462924 C-6.08282574,46.5358845 25.2747617,38.4107521 25.2747617,38.4107521 L7.71153337,28.6400953 Z" id="Path-3" sketch:type="MSShapeGroup"></path>
        </g>
        <g id="Rectangle-4-+-Path-3" sketch:type="MSLayerGroup" transform="translate(180.500000, 324.000000) scale(-1, 1) translate(-180.500000, -324.000000) translate(107.000000, 295.000000)" fill="#FFB5AE">
            <rect id="Rectangle-4" sketch:type="MSShapeGroup" x="6.22881356" y="0" width="140.771186" height="56.0338983" rx="11"></rect>
            <path d="M7.5573027,38.6308263 C7.5573027,38.6308263 8.24831171,48.4997352 1.14357124,55.6345339 C-5.96116923,62.7693326 24.7692664,51.8098517 24.7692664,51.8098517 L7.5573027,38.6308263 Z" id="Path-3" sketch:type="MSShapeGroup"></path>
        </g>
        <text id="hey!-how’s-your-day-" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="12" font-weight="260" fill="#000000">
            <tspan x="92" y="198">hey! how’s your </tspan>
            <tspan x="92" y="213">day going?</tspan>
        </text>
        <text id="I-need-to-go-to-the-" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="12" font-weight="260" fill="#000000">
            <tspan x="112" y="264">I need to go to the gym</tspan>
        </text>
        <text id="startup-ideas:-faceb" sketch:type="MSTextLayer" font-family="Helvetica Neue" font-size="12" font-weight="260" fill="#000000">
            <tspan x="120" y="318">startup ideas: </tspan>
            <tspan x="120" y="333">facebook for dogs </tspan>
        </text>
    </g>
</svg>
</div>