body, html
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  //background: #FDFDFF
  background: white

#sign-up
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: rgb(222,77,83)

ul.nav-list
  margin: 0
  padding: 0
  list-style: none

  li
    text-align: center
    margin-bottom: 30px

    img
      cursor: pointer

nav
  height: 100%
  width: 150px
  background: rgba(222,77,83, 0.9)


.logo
  text-align: center
  font-family: helvetica neue
  font-weight: 100
  padding-top: 25px
  padding-bottom: 30px
  font-size: 22px
  letter-spacing: 1px


h2
  width: 100%
  text-align: center
  position: relative
  top: 60px
  padding-top: 20px
  font-size: 32px
  color: black
  font-family: helvetica neue
  font-weight: 100
  letter-spacing: 5px

#sign-up img
  text-align: center
  margin-left: 50%
  position: relative
  right: 46px
  top: 58px

input
  background: none
  box-shadow: none
  outline: none
  border: 1px solid black
  font-size: 22px
  font-weight: 100
  font-family: helvetica neue
  margin-bottom: 25px
  color: rgb(0, 0, 0)
  width: 234px
  padding: 13px
  padding-top: 15px
  padding-left: 25px
  padding-bottom: 15px

.sign-up
  font-family: helvetica neue
  font-weight: 100
  width: 274px
  font-size: 25px
  padding-top: 13px
  letter-spacing: 1px
  padding-bottom: 13px

form
  margin-left: 50%
  position: relative
  right: 137px
  margin-top: 100px

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px rgb(222,77,83) inset

::-webkit-input-placeholder
  color: black

\:-moz-placeholder
  color: black

::-moz-placeholder
  color: black

\:-ms-input-placeholder
  color: black