<!DOCTYPE html>
<html>
<head>
  <title>Howard</title>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="http://i.icomoon.io/public/temp/fe1bff8f60/UntitledProject1/style.css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
